# CSV 데이터 로드

In [2]:
import pandas as pd

Data Source: https://jumin.mois.go.kr/ageStatMonth.do#none

## Load

In [3]:
df_pop = pd.read_csv('./data/202410_202410_연령별인구현황_월간.csv', encoding='EUC-KR')
df_pop

,행정구역,2024년10월_계_총인구수,2024년10월_계_연령구간인구수,2024년10월_계_0~9세,2024년10월_계_10~19세,2024년10월_계_20~29세,2024년10월_계_30~39세,2024년10월_계_40~49세,2024년10월_계_50~59세,2024년10월_계_60~69세,...,2024년10월_여_10~19세,2024년10월_여_20~29세,2024년10월_여_30~39세,2024년10월_여_40~49세,2024년10월_여_50~59세,2024년10월_여_60~69세,2024년10월_여_70~79세,2024년10월_여_80~89세,2024년10월_여_90~99세,2024년10월_여_100세 이상
0,전국 (0000000000),"51,238,450","51,238,450","3,165,029","4,625,395","5,998,612","6,612,634","7,757,529","8,718,529","7,783,539",...,"2,248,158","2,873,845","3,162,692","3,814,438","4,320,290","3,949,944","2,233,632","1,325,589","248,097","7,095"
1,서울특별시 (1100000000),"9,343,304","9,343,304","487,458","723,446","1,318,398","1,439,369","1,389,768","1,489,846","1,324,308",...,"353,441","697,034","719,070","703,053","757,133","697,395","420,174","210,103","35,440","1,169"
2,부산광역시 (2600000000),"3,271,062","3,271,062","183,384","262,936","361,691","389,456","473,403","538,648","561,037",...,"128,125","176,631","188,373","234,238","275,002","297,513","182,900","91,696","14,311",373
3,대구광역시 (2700000000),"2,364,892","2,364,892","143,252","212,540","270,301","282,272","346,404","419,133","373,733",...,"103,196","128,294","131,525","174,597","214,517","195,159","113,158","63,779","10,354",226
4,인천광역시 (2800000000),"3,017,928","3,017,928","196,120","272,380","353,794","420,642","476,741","517,290","456,691",...,"132,709","170,962","201,032","231,622","259,475","231,261","112,204","62,221","12,487",400
5,광주광역시 (2900000000),"1,410,548","1,410,548","93,779","145,773","183,555","173,765","221,038","243,183","189,695",...,"70,674","87,850","83,719","110,755","122,871","98,723","57,058","30,941","5,731",162
6,대전광역시 (3000000000),"1,440,094","1,440,094","92,255","135,890","194,905","190,213","214,434","244,136","205,497",...,"65,898","93,144","89,265","107,254","122,389","105,814","56,453","31,295","5,761",177
7,울산광역시 (3100000000),"1,098,540","1,098,540","73,933","109,213","117,870","136,434","174,044","203,429","174,191",...,"52,440","50,311","61,809","84,189","101,434","86,273","39,324","18,478","3,151",75
8,세종특별자치시 (3600000000),"389,978","389,978","41,643","52,212","37,131","58,906","77,263","56,733","38,472",...,"25,837","18,207","29,827","39,274","27,128","19,289","9,150","5,356","1,281",38
9,경기도 (4100000000),"13,686,731","13,686,731","946,337","1,320,679","1,637,135","1,900,885","2,222,316","2,358,181","1,896,883",...,"645,390","778,351","907,228","1,088,874","1,170,287","950,420","479,022","272,548","51,708","1,522"
10,강원특별자치도 (5100000000),"1,519,545","1,519,545","86,475","126,958","157,315","158,402","201,983","261,338","278,906",...,"61,223","69,226","73,501","99,211","126,680","138,909","78,939","54,641","10,449",319
11,충청북도 (4300000000),"1,590,704","1,590,704","98,341","143,243","175,034","188,609","226,196","273,910","262,127",...,"69,414","78,324","84,950","108,762","132,924","129,317","70,928","49,056","9,447",231
12,충청남도 (4400000000),"2,136,010","2,136,010","136,516","201,899","221,232","251,750","319,676","353,603","332,878",...,"97,562","98,369","114,224","149,715","165,586","163,064","98,016","71,473","15,285",413
13,전북특별자치도 (5200000000),"1,740,753","1,740,753","96,084","161,645","182,541","172,565","236,114","302,660","287,856",...,"77,975","83,441","82,344","115,377","145,534","143,647","95,845","68,034","14,201",404
14,전라남도 (4600000000),"1,790,421","1,790,421","102,165","156,361","170,440","168,851","233,990","309,312","310,749",...,"76,076","74,993","79,435","110,141","142,431","150,644","103,863","82,668","16,380",482
15,경상북도 (4700000000),"2,535,971","2,535,971","141,967","215,776","238,387","256,397","346,133","442,485","455,757",...,"102,920","101,475","116,048","165,878","213,221","225,415","139,681","99,816","19,237",498
16,경상남도 (4800000000),"3,231,132","3,231,132","197,131","314,259","308,297","346,533","492,441","584,993","538,263",...,"151,363","134,359","162,188","239,354","285,947","268,907","150,275","95,989","18,555",376
17,제주특별자치도 (5000000000),"670,837","670,837","48,189","70,185","70,586","77,585","105,585","119,649","96,496",...,"33,915","32,874","38,154","52,144","57,731","48,194","26,642","17,495","4,319",230

In [4]:
# 행정구역 컬럼을 인덱스로 만들기 위해 문자열 조작
new_index = df_pop.행정구역.str.split('(', expand=True)[0].str.strip()
new_index

0          전국
1       서울특별시
2       부산광역시
3       대구광역시
4       인천광역시
5       광주광역시
6       대전광역시
7       울산광역시
8     세종특별자치시
9         경기도
10    강원특별자치도
11       충청북도
12       충청남도
13    전북특별자치도
14       전라남도
15       경상북도
16       경상남도
17    제주특별자치도
Name: 0, dtype: object

In [5]:
# 행정구역 컬럼을 삭제하고 인덱스 지정
df_pop.drop('행정구역', axis=1, inplace=True)
df_pop.index = new_index
df_pop

,2024년10월_계_총인구수,2024년10월_계_연령구간인구수,2024년10월_계_0~9세,2024년10월_계_10~19세,2024년10월_계_20~29세,2024년10월_계_30~39세,2024년10월_계_40~49세,2024년10월_계_50~59세,2024년10월_계_60~69세,2024년10월_계_70~79세,...,2024년10월_여_10~19세,2024년10월_여_20~29세,2024년10월_여_30~39세,2024년10월_여_40~49세,2024년10월_여_50~59세,2024년10월_여_60~69세,2024년10월_여_70~79세,2024년10월_여_80~89세,2024년10월_여_90~99세,2024년10월_여_100세 이상
0,,,,,,,,,,,,,,,,,,,,,
전국,"51,238,450","51,238,450","3,165,029","4,625,395","5,998,612","6,612,634","7,757,529","8,718,529","7,783,539","4,143,043",...,"2,248,158","2,873,845","3,162,692","3,814,438","4,320,290","3,949,944","2,233,632","1,325,589","248,097","7,095"
서울특별시,"9,343,304","9,343,304","487,458","723,446","1,318,398","1,439,369","1,389,768","1,489,846","1,324,308","766,703",...,"353,441","697,034","719,070","703,053","757,133","697,395","420,174","210,103","35,440","1,169"
부산광역시,"3,271,062","3,271,062","183,384","262,936","361,691","389,456","473,403","538,648","561,037","333,473",...,"128,125","176,631","188,373","234,238","275,002","297,513","182,900","91,696","14,311",373
대구광역시,"2,364,892","2,364,892","143,252","212,540","270,301","282,272","346,404","419,133","373,733","203,104",...,"103,196","128,294","131,525","174,597","214,517","195,159","113,158","63,779","10,354",226
인천광역시,"3,017,928","3,017,928","196,120","272,380","353,794","420,642","476,741","517,290","456,691","209,690",...,"132,709","170,962","201,032","231,622","259,475","231,261","112,204","62,221","12,487",400
광주광역시,"1,410,548","1,410,548","93,779","145,773","183,555","173,765","221,038","243,183","189,695","102,420",...,"70,674","87,850","83,719","110,755","122,871","98,723","57,058","30,941","5,731",162
대전광역시,"1,440,094","1,440,094","92,255","135,890","194,905","190,213","214,434","244,136","205,497","104,573",...,"65,898","93,144","89,265","107,254","122,389","105,814","56,453","31,295","5,761",177
울산광역시,"1,098,540","1,098,540","73,933","109,213","117,870","136,434","174,044","203,429","174,191","76,256",...,"52,440","50,311","61,809","84,189","101,434","86,273","39,324","18,478","3,151",75
세종특별자치시,"389,978","389,978","41,643","52,212","37,131","58,906","77,263","56,733","38,472","17,513",...,"25,837","18,207","29,827","39,274","27,128","19,289","9,150","5,356","1,281",38
경기도,"13,686,731","13,686,731","946,337","1,320,679","1,637,135","1,900,885","2,222,316","2,358,181","1,896,883","894,514",...,"645,390","778,351","907,228","1,088,874","1,170,287","950,420","479,022","272,548","51,708","1,522"
강원특별자치도,"1,519,545","1,519,545","86,475","126,958","157,315","158,402","201,983","261,338","278,906","148,139",...,"61,223","69,226","73,501","99,211","126,680","138,909","78,939","54,641","10,449",319
충청북도,"1,590,704","1,590,704","98,341","143,243","175,034","188,609","226,196","273,910","262,127","134,560",...,"69,414","78,324","84,950","108,762","132,924","129,317","70,928","49,056","9,447",231
충청남도,"2,136,010","2,136,010","136,516","201,899","221,232","251,750","319,676","353,603","332,878","186,314",...,"97,562","98,369","114,224","149,715","165,586","163,064","98,016","71,473","15,285",413
전북특별자치도,"1,740,753","1,740,753","96,084","161,645","182,541","172,565","236,114","302,660","287,856","178,014",...,"77,975","83,441","82,344","115,377","145,534","143,647","95,845","68,034","14,201",404
전라남도,"1,790,421","1,790,421","102,165","156,361","170,440","168,851","233,990","309,312","310,749","193,950",...,"76,076","74,993","79,435","110,141","142,431","150,644","103,863","82,668","16,380",482
경상북도,"2,535,971","2,535,971","141,967","215,776","238,387","256,397","346,133","442,485","455,757","262,751",...,"102,920","101,475","116,048","165,878","213,221","225,415","139,681","99,816","19,237",498
경상남도,"3,231,132","3,231,132","197,131","314,259","308,297","346,533","492,441","584,993","538,263","281,549",...,"151,363","134,359","162,188","239,354","285,947","268,907","150,275","95,989","18,555",376
제주특별자치도,"670,837","670,837","48,189","70,185","70,586","77,585","105,585","119,649","96,496","49,520",...,"33,915","32,874","38,154","52,144","57,731","48,194","26,642","17,495","4,319",230

In [6]:
df_pop.columns

Index(['2024년10월_계_총인구수', '2024년10월_계_연령구간인구수', '2024년10월_계_0~9세',
       '2024년10월_계_10~19세', '2024년10월_계_20~29세', '2024년10월_계_30~39세',
       '2024년10월_계_40~49세', '2024년10월_계_50~59세', '2024년10월_계_60~69세',
       '2024년10월_계_70~79세', '2024년10월_계_80~89세', '2024년10월_계_90~99세',
       '2024년10월_계_100세 이상', '2024년10월_남_총인구수', '2024년10월_남_연령구간인구수',
       '2024년10월_남_0~9세', '2024년10월_남_10~19세', '2024년10월_남_20~29세',
       '2024년10월_남_30~39세', '2024년10월_남_40~49세', '2024년10월_남_50~59세',
       '2024년10월_남_60~69세', '2024년10월_남_70~79세', '2024년10월_남_80~89세',
       '2024년10월_남_90~99세', '2024년10월_남_100세 이상', '2024년10월_여_총인구수',
       '2024년10월_여_연령구간인구수', '2024년10월_여_0~9세', '2024년10월_여_10~19세',
       '2024년10월_여_20~29세', '2024년10월_여_30~39세', '2024년10월_여_40~49세',
       '2024년10월_여_50~59세', '2024년10월_여_60~69세', '2024년10월_여_70~79세',
       '2024년10월_여_80~89세', '2024년10월_여_90~99세', '2024년10월_여_100세 이상'],
      dtype='object')

In [7]:
df_pop_total = df_pop[['2024년10월_계_총인구수', '2024년10월_계_연령구간인구수', '2024년10월_계_0~9세',
       '2024년10월_계_10~19세', '2024년10월_계_20~29세', '2024년10월_계_30~39세',
       '2024년10월_계_40~49세', '2024년10월_계_50~59세', '2024년10월_계_60~69세',
       '2024년10월_계_70~79세', '2024년10월_계_80~89세', '2024년10월_계_90~99세',
       '2024년10월_계_100세 이상']]
df_pop_total

,2024년10월_계_총인구수,2024년10월_계_연령구간인구수,2024년10월_계_0~9세,2024년10월_계_10~19세,2024년10월_계_20~29세,2024년10월_계_30~39세,2024년10월_계_40~49세,2024년10월_계_50~59세,2024년10월_계_60~69세,2024년10월_계_70~79세,2024년10월_계_80~89세,2024년10월_계_90~99세,2024년10월_계_100세 이상
0,,,,,,,,,,,,,
전국,"51,238,450","51,238,450","3,165,029","4,625,395","5,998,612","6,612,634","7,757,529","8,718,529","7,783,539","4,143,043","2,101,908","323,588","8,644"
서울특별시,"9,343,304","9,343,304","487,458","723,446","1,318,398","1,439,369","1,389,768","1,489,846","1,324,308","766,703","353,817","48,679","1,512"
부산광역시,"3,271,062","3,271,062","183,384","262,936","361,691","389,456","473,403","538,648","561,037","333,473","147,973","18,623",438
대구광역시,"2,364,892","2,364,892","143,252","212,540","270,301","282,272","346,404","419,133","373,733","203,104","100,288","13,603",262
인천광역시,"3,017,928","3,017,928","196,120","272,380","353,794","420,642","476,741","517,290","456,691","209,690","98,125","15,958",497
광주광역시,"1,410,548","1,410,548","93,779","145,773","183,555","173,765","221,038","243,183","189,695","102,420","49,671","7,483",186
대전광역시,"1,440,094","1,440,094","92,255","135,890","194,905","190,213","214,434","244,136","205,497","104,573","50,294","7,682",215
울산광역시,"1,098,540","1,098,540","73,933","109,213","117,870","136,434","174,044","203,429","174,191","76,256","29,117","3,969",84
세종특별자치시,"389,978","389,978","41,643","52,212","37,131","58,906","77,263","56,733","38,472","17,513","8,434","1,630",41
경기도,"13,686,731","13,686,731","946,337","1,320,679","1,637,135","1,900,885","2,222,316","2,358,181","1,896,883","894,514","439,153","68,687","1,961"
강원특별자치도,"1,519,545","1,519,545","86,475","126,958","157,315","158,402","201,983","261,338","278,906","148,139","86,180","13,430",419
충청북도,"1,590,704","1,590,704","98,341","143,243","175,034","188,609","226,196","273,910","262,127","134,560","76,331","12,074",279
충청남도,"2,136,010","2,136,010","136,516","201,899","221,232","251,750","319,676","353,603","332,878","186,314","111,475","20,184",483
전북특별자치도,"1,740,753","1,740,753","96,084","161,645","182,541","172,565","236,114","302,660","287,856","178,014","104,547","18,266",461
전라남도,"1,790,421","1,790,421","102,165","156,361","170,440","168,851","233,990","309,312","310,749","193,950","123,546","20,498",559
경상북도,"2,535,971","2,535,971","141,967","215,776","238,387","256,397","346,133","442,485","455,757","262,751","151,311","24,447",560
경상남도,"3,231,132","3,231,132","197,131","314,259","308,297","346,533","492,441","584,993","538,263","281,549","144,233","22,993",440
제주특별자치도,"670,837","670,837","48,189","70,185","70,586","77,585","105,585","119,649","96,496","49,520","27,413","5,382",247

In [8]:
df_pop_total.drop('2024년10월_계_연령구간인구수', axis=1, inplace=True)
df_pop_total

C:\Users\gik_k\AppData\Local\Temp\ipykernel_12368\1964807311.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pop_total.drop('2024년10월_계_연령구간인구수', axis=1, inplace=True)

,2024년10월_계_총인구수,2024년10월_계_0~9세,2024년10월_계_10~19세,2024년10월_계_20~29세,2024년10월_계_30~39세,2024년10월_계_40~49세,2024년10월_계_50~59세,2024년10월_계_60~69세,2024년10월_계_70~79세,2024년10월_계_80~89세,2024년10월_계_90~99세,2024년10월_계_100세 이상
0,,,,,,,,,,,,
전국,"51,238,450","3,165,029","4,625,395","5,998,612","6,612,634","7,757,529","8,718,529","7,783,539","4,143,043","2,101,908","323,588","8,644"
서울특별시,"9,343,304","487,458","723,446","1,318,398","1,439,369","1,389,768","1,489,846","1,324,308","766,703","353,817","48,679","1,512"
부산광역시,"3,271,062","183,384","262,936","361,691","389,456","473,403","538,648","561,037","333,473","147,973","18,623",438
대구광역시,"2,364,892","143,252","212,540","270,301","282,272","346,404","419,133","373,733","203,104","100,288","13,603",262
인천광역시,"3,017,928","196,120","272,380","353,794","420,642","476,741","517,290","456,691","209,690","98,125","15,958",497
광주광역시,"1,410,548","93,779","145,773","183,555","173,765","221,038","243,183","189,695","102,420","49,671","7,483",186
대전광역시,"1,440,094","92,255","135,890","194,905","190,213","214,434","244,136","205,497","104,573","50,294","7,682",215
울산광역시,"1,098,540","73,933","109,213","117,870","136,434","174,044","203,429","174,191","76,256","29,117","3,969",84
세종특별자치시,"389,978","41,643","52,212","37,131","58,906","77,263","56,733","38,472","17,513","8,434","1,630",41
경기도,"13,686,731","946,337","1,320,679","1,637,135","1,900,885","2,222,316","2,358,181","1,896,883","894,514","439,153","68,687","1,961"
강원특별자치도,"1,519,545","86,475","126,958","157,315","158,402","201,983","261,338","278,906","148,139","86,180","13,430",419
충청북도,"1,590,704","98,341","143,243","175,034","188,609","226,196","273,910","262,127","134,560","76,331","12,074",279
충청남도,"2,136,010","136,516","201,899","221,232","251,750","319,676","353,603","332,878","186,314","111,475","20,184",483
전북특별자치도,"1,740,753","96,084","161,645","182,541","172,565","236,114","302,660","287,856","178,014","104,547","18,266",461
전라남도,"1,790,421","102,165","156,361","170,440","168,851","233,990","309,312","310,749","193,950","123,546","20,498",559
경상북도,"2,535,971","141,967","215,776","238,387","256,397","346,133","442,485","455,757","262,751","151,311","24,447",560
경상남도,"3,231,132","197,131","314,259","308,297","346,533","492,441","584,993","538,263","281,549","144,233","22,993",440
제주특별자치도,"670,837","48,189","70,185","70,586","77,585","105,585","119,649","96,496","49,520","27,413","5,382",247

In [9]:
current_cols = [x.split('_')[2] for x in list(df_pop_total.columns)]
df_pop_total.columns = current_cols
df_pop_total

,총인구수,0~9세,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,70~79세,80~89세,90~99세,100세 이상
0,,,,,,,,,,,,
전국,"51,238,450","3,165,029","4,625,395","5,998,612","6,612,634","7,757,529","8,718,529","7,783,539","4,143,043","2,101,908","323,588","8,644"
서울특별시,"9,343,304","487,458","723,446","1,318,398","1,439,369","1,389,768","1,489,846","1,324,308","766,703","353,817","48,679","1,512"
부산광역시,"3,271,062","183,384","262,936","361,691","389,456","473,403","538,648","561,037","333,473","147,973","18,623",438
대구광역시,"2,364,892","143,252","212,540","270,301","282,272","346,404","419,133","373,733","203,104","100,288","13,603",262
인천광역시,"3,017,928","196,120","272,380","353,794","420,642","476,741","517,290","456,691","209,690","98,125","15,958",497
광주광역시,"1,410,548","93,779","145,773","183,555","173,765","221,038","243,183","189,695","102,420","49,671","7,483",186
대전광역시,"1,440,094","92,255","135,890","194,905","190,213","214,434","244,136","205,497","104,573","50,294","7,682",215
울산광역시,"1,098,540","73,933","109,213","117,870","136,434","174,044","203,429","174,191","76,256","29,117","3,969",84
세종특별자치시,"389,978","41,643","52,212","37,131","58,906","77,263","56,733","38,472","17,513","8,434","1,630",41
경기도,"13,686,731","946,337","1,320,679","1,637,135","1,900,885","2,222,316","2,358,181","1,896,883","894,514","439,153","68,687","1,961"
강원특별자치도,"1,519,545","86,475","126,958","157,315","158,402","201,983","261,338","278,906","148,139","86,180","13,430",419
충청북도,"1,590,704","98,341","143,243","175,034","188,609","226,196","273,910","262,127","134,560","76,331","12,074",279
충청남도,"2,136,010","136,516","201,899","221,232","251,750","319,676","353,603","332,878","186,314","111,475","20,184",483
전북특별자치도,"1,740,753","96,084","161,645","182,541","172,565","236,114","302,660","287,856","178,014","104,547","18,266",461
전라남도,"1,790,421","102,165","156,361","170,440","168,851","233,990","309,312","310,749","193,950","123,546","20,498",559
경상북도,"2,535,971","141,967","215,776","238,387","256,397","346,133","442,485","455,757","262,751","151,311","24,447",560
경상남도,"3,231,132","197,131","314,259","308,297","346,533","492,441","584,993","538,263","281,549","144,233","22,993",440
제주특별자치도,"670,837","48,189","70,185","70,586","77,585","105,585","119,649","96,496","49,520","27,413","5,382",247

In [11]:
df_pop_total.index.name = '자치단체명'
df_pop_total

,총인구수,0~9세,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,70~79세,80~89세,90~99세,100세 이상
자치단체명,,,,,,,,,,,,
전국,"51,238,450","3,165,029","4,625,395","5,998,612","6,612,634","7,757,529","8,718,529","7,783,539","4,143,043","2,101,908","323,588","8,644"
서울특별시,"9,343,304","487,458","723,446","1,318,398","1,439,369","1,389,768","1,489,846","1,324,308","766,703","353,817","48,679","1,512"
부산광역시,"3,271,062","183,384","262,936","361,691","389,456","473,403","538,648","561,037","333,473","147,973","18,623",438
대구광역시,"2,364,892","143,252","212,540","270,301","282,272","346,404","419,133","373,733","203,104","100,288","13,603",262
인천광역시,"3,017,928","196,120","272,380","353,794","420,642","476,741","517,290","456,691","209,690","98,125","15,958",497
광주광역시,"1,410,548","93,779","145,773","183,555","173,765","221,038","243,183","189,695","102,420","49,671","7,483",186
대전광역시,"1,440,094","92,255","135,890","194,905","190,213","214,434","244,136","205,497","104,573","50,294","7,682",215
울산광역시,"1,098,540","73,933","109,213","117,870","136,434","174,044","203,429","174,191","76,256","29,117","3,969",84
세종특별자치시,"389,978","41,643","52,212","37,131","58,906","77,263","56,733","38,472","17,513","8,434","1,630",41
경기도,"13,686,731","946,337","1,320,679","1,637,135","1,900,885","2,222,316","2,358,181","1,896,883","894,514","439,153","68,687","1,961"
강원특별자치도,"1,519,545","86,475","126,958","157,315","158,402","201,983","261,338","278,906","148,139","86,180","13,430",419
충청북도,"1,590,704","98,341","143,243","175,034","188,609","226,196","273,910","262,127","134,560","76,331","12,074",279
충청남도,"2,136,010","136,516","201,899","221,232","251,750","319,676","353,603","332,878","186,314","111,475","20,184",483
전북특별자치도,"1,740,753","96,084","161,645","182,541","172,565","236,114","302,660","287,856","178,014","104,547","18,266",461
전라남도,"1,790,421","102,165","156,361","170,440","168,851","233,990","309,312","310,749","193,950","123,546","20,498",559
경상북도,"2,535,971","141,967","215,776","238,387","256,397","346,133","442,485","455,757","262,751","151,311","24,447",560
경상남도,"3,231,132","197,131","314,259","308,297","346,533","492,441","584,993","538,263","281,549","144,233","22,993",440
제주특별자치도,"670,837","48,189","70,185","70,586","77,585","105,585","119,649","96,496","49,520","27,413","5,382",247

## Save

In [12]:
df_pop_total.to_csv('./data/202010_연령별인구.csv')