# HTML 테이블 데이터 로드

In [2]:
import pandas as pd

## Load

In [8]:
boxoffice = pd.read_html('https://movie.datamotion.co.kr/Boxoffice')
df_boxoffice = boxoffice[1]

In [10]:
df_boxoffice

,0,1,2,3,4,5
0,순위,영화,세계 흥행 수익,북미 흥행 수익,북미 %,제작비
1,1,아바타 (2009),"$2,847,246,203","$760,507,625",26.71%,"$237,000,000"
2,2,어벤저스: 엔드게임 (2019),"$2,797,501,328","$858,373,000",30.68%,"$356,000,000"
3,3,타이타닉 (1997),"$2,201,647,264","$659,363,944",29.95%,"$200,000,000"
4,4,스타 워즈: 깨어난 포스 (2015),"$2,068,223,624","$936,662,225",45.29%,"$245,000,000"
...,...,...,...,...,...,...
196,196,미션 임파서블 2 (2000),"$546,388,108","$215,409,889",39.42%,"$125,000,000"
197,197,차이나타운의 형사 (2018),"$544,185,156","$1,983,984",0.36%,$00
198,198,엑스맨: 아포칼립스 (2016),"$543,934,105","$155,442,489",28.58%,"$178,000,000"
199,199,셜록 홈즈: 그림자 게임 (2011),"$543,848,418","$186,848,418",34.36%,"$125,000,000"
200,200,슈퍼배드 (2010),"$543,113,985","$251,513,985",46.31%,"$69,000,000"

In [11]:
df_boxoffice.columns = df_boxoffice.iloc[0]
df_boxoffice.drop([0], axis=0, inplace=True)
df_boxoffice['개봉연도'] = [x.split('(')[1][0:4] for x in df_boxoffice['영화']]
df_boxoffice.영화 = [x.split('(')[0].strip() for x in df_boxoffice.영화]
df_boxoffice

,순위,영화,세계 흥행 수익,북미 흥행 수익,북미 %,제작비,개봉연도
1,1,아바타,"$2,847,246,203","$760,507,625",26.71%,"$237,000,000",2009
2,2,어벤저스: 엔드게임,"$2,797,501,328","$858,373,000",30.68%,"$356,000,000",2019
3,3,타이타닉,"$2,201,647,264","$659,363,944",29.95%,"$200,000,000",1997
4,4,스타 워즈: 깨어난 포스,"$2,068,223,624","$936,662,225",45.29%,"$245,000,000",2015
5,5,어벤저스: 인피니티 워,"$2,048,709,917","$678,815,482",33.13%,"$321,000,000",2018
...,...,...,...,...,...,...,...
196,196,미션 임파서블 2,"$546,388,108","$215,409,889",39.42%,"$125,000,000",2000
197,197,차이나타운의 형사,"$544,185,156","$1,983,984",0.36%,$00,2018
198,198,엑스맨: 아포칼립스,"$543,934,105","$155,442,489",28.58%,"$178,000,000",2016
199,199,셜록 홈즈: 그림자 게임,"$543,848,418","$186,848,418",34.36%,"$125,000,000",2011
200,200,슈퍼배드,"$543,113,985","$251,513,985",46.31%,"$69,000,000",2010

## Save

In [3]:
# DataFrame 생성
df = pd.DataFrame([ 
    ['Celine', 'France', 90, 100, 100],
    ['James','UK', 80, 40, 30],
    ['Jason','USA',80, 40, 60],
    ['Hans','Germany', 60, 50, 90]],
    columns = ['name','nation','korean','english','math']
)

In [5]:
df.to_html('./data/student.html')